.first-section {
  height: 800px;
  width: 100%;
  background-image: url('../assets/first-section-backgroud.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.first-section__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;  
}
.first-section__title {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  max-width: 627px;
}
.first-section__title-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 417px;
  color: white;
  margin-top: 24px;
}

.first-section__form {
  margin-top: 30px;
}


/* 
 FORM START
*/
.form {
  display: flex;
}
.form-input{
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

  width: 550px;
  border-radius: 15px;
  border: none;
  background-color: #ffff;
  outline: none;
  padding: 22px 24px;
}
.form-btn {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  border-radius: 10px;
  border: none;
  padding: 24px 52px;
  margin-left: 24px;
  color: #ffff;
  background-color: rgba(29, 172, 138, 1);
  
  cursor: pointer;
}
.form-btn:hover {
  background-color: rgba(29, 172, 138, .9);
  transition: background-color 0.1s ease;
}
.first-section__download-app__icons{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.first-section__download-app__icons a img{
  display: block;
  width: 160px;
}
/* 
 FORM END
*/ 
