.page-footer {
  height: 300px;
  width: 100%;
  background: rgba(29, 172, 138, 1);
  color: white;
}
.footer-container {
  margin: 0 auto;
  max-width: 1184px;
  padding: 45px 16px 0px 16px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 24px;
  max-width: 214px;
}
.footer-title {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
}

.footer-list {
  padding: 0;
  list-style-type: none;
}
.footer-list__item, .footer-list__item a, .footer-list__item a:visited {
  font-family: Inter;
  font-size: 10px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.social-apps {
  display: flex;
  margin-top: 4px;
}
.social-apps div {
  margin-right: 16px;
}