.get-number {
  background: rgba(81, 78, 182, 1);
  border-radius: 12px;
  width: 100%;
  padding: 36px;
  color: white;
  margin: 120px 0 8px 0;
  display: flex;
  align-items: center;
}

.get-number__title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.get-number__form {
  padding: 6px 6px 6px 24px;
  border-radius: 8px;
  margin-left: 21px;
  background: rgba(38, 36, 126, 1);
}

.get-number__form input {
  width: 332px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  background: transparent;
  color: white;
  border: none;
  outline: none;
}
.get-number__form input::placeholder {
  color: white;
}
.get-number__form button {
  background: #FFFFFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  border: none;
  text-align: center;
  border-radius: 8px;
  color: rgba(81, 78, 182, 1);
  padding: 8px 15px;
  width: 162px
}