@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
.global-wrapper {
  position: relative;
}
.wrapper {
  max-width: 1184px;
  margin: 0 auto;
}
body {
  color: #101828;
}

.mt-1 {
  margin-top: 4px;
}
.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 16px;
}
.mt-4 {
  margin-top: 24px;
}
.pointer {
  cursor: pointer;
}
.text-intent {
  text-indent: 25px;
}