@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
.global-wrapper {
  position: relative;
}
.wrapper {
  max-width: 1184px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
  color: inherit;
}
body {
  color: #101828;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
  transition: opacity .3s ease;
  opacity: 1;
}
.mt-1 {
  margin-top: 4px;
}
.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 16px;
}
.mt-4 {
  margin-top: 24px;
}
.pointer {
  cursor: pointer;
}
.text-intent {
  text-indent: 25px;
}
* {
  box-sizing: border-box;
}
img {
  webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
@import '~normalize.css';
@import './articles.css';
@import './download-app.css';
@import './faq.css';
@import './first-section.css';
@import './footer.css';
@import './get-number.css';
@import './header.css';
@import './second-section.css';
@import './third-section.css';
@import './success-alert.css';
@import './our-team.css';

@import './media-queries.css'